<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4b6991adf46746bab0f05d555d601340 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4b6991adf46746bab0f05d555d601340" ></div>
        
</body>
<script>    
    
            var map_4b6991adf46746bab0f05d555d601340 = L.map(
                "map_4b6991adf46746bab0f05d555d601340",
                {
                    center: [34.81564866, 10.727016045],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_be799c4d29004956a9cc3c9f233f8e4f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4b6991adf46746bab0f05d555d601340);
        
    
            var marker_fee4e2da0c8a4832a213569a6edb68f4 = L.marker(
                [34.81481228, 10.73452785],
                {}
            ).addTo(map_4b6991adf46746bab0f05d555d601340);
        
    
            var icon_271544bda4864cef8d6ea06cd3784516 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_fee4e2da0c8a4832a213569a6edb68f4.setIcon(icon_271544bda4864cef8d6ea06cd3784516);
        
    
        var popup_b7ffd590de864f6c8e2136dbab42cad5 = L.popup({"maxWidth": "100%"});

        
            var html_356b569c4d4a4a6ca2aab558fd5dce8e = $(`<div id="html_356b569c4d4a4a6ca2aab558fd5dce8e" style="width: 100.0%; height: 100.0%;">Départ</div>`)[0];
            popup_b7ffd590de864f6c8e2136dbab42cad5.setContent(html_356b569c4d4a4a6ca2aab558fd5dce8e);
        

        marker_fee4e2da0c8a4832a213569a6edb68f4.bindPopup(popup_b7ffd590de864f6c8e2136dbab42cad5)
        ;

        
    
    
            var marker_e5b1533803ac4628a32fda2301d121cf = L.marker(
                [34.81648504, 10.71950424],
                {}
            ).addTo(map_4b6991adf46746bab0f05d555d601340);
        
    
            var icon_ad248bf53ffe4ca69089e1060830e519 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e5b1533803ac4628a32fda2301d121cf.setIcon(icon_ad248bf53ffe4ca69089e1060830e519);
        
    
        var popup_dc97261a1b8e45a282a0fae4043c84a7 = L.popup({"maxWidth": "100%"});

        
            var html_3bcf14649a0e4bb490e7da4b37c7cc4b = $(`<div id="html_3bcf14649a0e4bb490e7da4b37c7cc4b" style="width: 100.0%; height: 100.0%;">Arrivée après 1.39 km</div>`)[0];
            popup_dc97261a1b8e45a282a0fae4043c84a7.setContent(html_3bcf14649a0e4bb490e7da4b37c7cc4b);
        

        marker_e5b1533803ac4628a32fda2301d121cf.bindPopup(popup_dc97261a1b8e45a282a0fae4043c84a7)
        ;

        
    
    
            var poly_line_17cf4d5f41d641ada2e081d1efb8afdd = L.polyline(
                [[34.81481228, 10.73452785], [34.81484632, 10.73380677], [34.814863, 10.73363988], [34.81485802, 10.73363696], [34.81485999, 10.73363685], [34.81487091, 10.73349949], [34.81489426, 10.73325804], [34.81492372, 10.73298752], [34.81494575, 10.73274969], [34.81497815, 10.73229982], [34.81501843, 10.73188301], [34.81506094, 10.73133981], [34.8151004, 10.73088616], [34.81514411, 10.73041403], [34.81519072, 10.72993326], [34.81523683, 10.72943822], [34.81528047, 10.72893915], [34.81533153, 10.72842618], [34.81538381, 10.72791513], [34.81543226, 10.72741086], [34.815471, 10.72691065], [34.81552065, 10.72641191], [34.81556648, 10.72590637], [34.81561352, 10.72540196], [34.81566531, 10.72491031], [34.81572903, 10.72441409], [34.81580644, 10.72390308], [34.8158858, 10.72337662], [34.81597662, 10.72282982], [34.81606419, 10.72227011], [34.81615216, 10.72170666], [34.81623485, 10.72115453], [34.81631968, 10.72060727], [34.81640318, 10.72004649], [34.81648504, 10.71950424]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_4b6991adf46746bab0f05d555d601340);
        
</script>