<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f99ed478b9d845efb7de39c395848838 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f99ed478b9d845efb7de39c395848838" ></div>
        
</body>
<script>    
    
            var map_f99ed478b9d845efb7de39c395848838 = L.map(
                "map_f99ed478b9d845efb7de39c395848838",
                {
                    center: [34.83861187, 10.754390195],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cae638f3d0cc487dbe958f051a45c304 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f99ed478b9d845efb7de39c395848838);
        
    
            var marker_5c510551f0e4473b9520c6dd8a179a93 = L.marker(
                [34.83868227, 10.75452152],
                {}
            ).addTo(map_f99ed478b9d845efb7de39c395848838);
        
    
            var icon_2347e97396e44521ae83183e52c0ba5f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5c510551f0e4473b9520c6dd8a179a93.setIcon(icon_2347e97396e44521ae83183e52c0ba5f);
        
    
        var popup_20c6cea88ea3460784c909570b48a015 = L.popup({"maxWidth": "100%"});

        
            var html_50dc96cee10c4d3781f6fd197e93aa62 = $(`<div id="html_50dc96cee10c4d3781f6fd197e93aa62" style="width: 100.0%; height: 100.0%;">Départ</div>`)[0];
            popup_20c6cea88ea3460784c909570b48a015.setContent(html_50dc96cee10c4d3781f6fd197e93aa62);
        

        marker_5c510551f0e4473b9520c6dd8a179a93.bindPopup(popup_20c6cea88ea3460784c909570b48a015)
        ;

        
    
    
            var marker_f414ed01210746b0b93f694824db8c37 = L.marker(
                [34.83854147, 10.75425887],
                {}
            ).addTo(map_f99ed478b9d845efb7de39c395848838);
        
    
            var icon_05094480c1624b29bf3e5e5f05ce1ef1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_f414ed01210746b0b93f694824db8c37.setIcon(icon_05094480c1624b29bf3e5e5f05ce1ef1);
        
    
        var popup_085e308d9d8846ea988507c03e532c44 = L.popup({"maxWidth": "100%"});

        
            var html_fc20756dc527451a91a861d0f0fc7a73 = $(`<div id="html_fc20756dc527451a91a861d0f0fc7a73" style="width: 100.0%; height: 100.0%;">Arrivée après 0.03 km</div>`)[0];
            popup_085e308d9d8846ea988507c03e532c44.setContent(html_fc20756dc527451a91a861d0f0fc7a73);
        

        marker_f414ed01210746b0b93f694824db8c37.bindPopup(popup_085e308d9d8846ea988507c03e532c44)
        ;

        
    
    
            var poly_line_8fcd7324aefc46e99b87ffd17108cb3f = L.polyline(
                [[34.83868227, 10.75452152], [34.83854147, 10.75425887]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_f99ed478b9d845efb7de39c395848838);
        
</script>