<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_85178374cc534e44a8d5223f5b68d287 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_85178374cc534e44a8d5223f5b68d287" ></div>
        
</body>
<script>    
    
            var map_85178374cc534e44a8d5223f5b68d287 = L.map(
                "map_85178374cc534e44a8d5223f5b68d287",
                {
                    center: [34.806124370000006, 10.71430644],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a1d79306837346a383db0549071f0c12 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_85178374cc534e44a8d5223f5b68d287);
        
    
            var marker_f9068c6b0deb44aaa6b4e363e07668c0 = L.marker(
                [34.80711904, 10.71422312],
                {}
            ).addTo(map_85178374cc534e44a8d5223f5b68d287);
        
    
            var icon_b6b6d555b5784046ab5381d9424cabed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f9068c6b0deb44aaa6b4e363e07668c0.setIcon(icon_b6b6d555b5784046ab5381d9424cabed);
        
    
        var popup_31c13d72dffc4e95998b04664eb1a6e3 = L.popup({"maxWidth": "100%"});

        
            var html_171ab64a94d7425787d0c567fd032574 = $(`<div id="html_171ab64a94d7425787d0c567fd032574" style="width: 100.0%; height: 100.0%;">Départ</div>`)[0];
            popup_31c13d72dffc4e95998b04664eb1a6e3.setContent(html_171ab64a94d7425787d0c567fd032574);
        

        marker_f9068c6b0deb44aaa6b4e363e07668c0.bindPopup(popup_31c13d72dffc4e95998b04664eb1a6e3)
        ;

        
    
    
            var marker_4872273221cc48df825a708f59d1ba97 = L.marker(
                [34.8051297, 10.71438976],
                {}
            ).addTo(map_85178374cc534e44a8d5223f5b68d287);
        
    
            var icon_c513ed2075374927b0f4330bcdd648bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4872273221cc48df825a708f59d1ba97.setIcon(icon_c513ed2075374927b0f4330bcdd648bf);
        
    
        var popup_d1bba8292a234ad2aa4e459cfcc02c95 = L.popup({"maxWidth": "100%"});

        
            var html_4cd6c5c4d3ce41228371a19a9338d37a = $(`<div id="html_4cd6c5c4d3ce41228371a19a9338d37a" style="width: 100.0%; height: 100.0%;">Arrivée après 0.38 km</div>`)[0];
            popup_d1bba8292a234ad2aa4e459cfcc02c95.setContent(html_4cd6c5c4d3ce41228371a19a9338d37a);
        

        marker_4872273221cc48df825a708f59d1ba97.bindPopup(popup_d1bba8292a234ad2aa4e459cfcc02c95)
        ;

        
    
    
            var poly_line_c599be9a478b4b5881027f3d44150b81 = L.polyline(
                [[34.80711904, 10.71422312], [34.8073238, 10.71485772], [34.80725138, 10.71485739], [34.80712759, 10.71502344], [34.80709443, 10.71501189], [34.80641636, 10.7138714], [34.80621585, 10.71396954], [34.80591385, 10.7140728], [34.80585421, 10.71403228], [34.80578137, 10.71400042], [34.80568588, 10.71397121], [34.80562281, 10.71398266], [34.80545611, 10.7141142], [34.8051297, 10.71438976]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_85178374cc534e44a8d5223f5b68d287);
        
</script>